html, body{
    height:100%;
    margin:0;
    padding:0px;
    background-color: #f7dc6e !important;
    font-family: tahoma;
}
.layout_header
{
    margin-top: 0rem;
    margin-left: 1rem;
}


#map{
    float:right;
    border: 2px solid white;
    height:75%;
    width:65%;
    display: block;
    margin-left: auto;
    margin-right: 1em;
}
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 50px;
    font-weight: 700 !important;
}
span
{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    
}
div#searchBox, div#listTable {
    margin: 0.25em auto;
    padding: 1em 2em 1em 1em;
 }
 div#listTable
{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }



 .layout aside{
     float: left;
     width: 30%;
     margin-left: 1px;
     background-color: #f0d56b ;
 }

 footer {
    padding-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #ddc45e;
    color: white;
    text-align: center;
  }