html, body{
    height:100%;
    margin:0;
    padding:0px;
    background-color: #f7dc6e;

}
.layout_header
{
    margin-top: 0;
}

#map{
    border: 2px solid white;
    height:75%;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: 1em;
}
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    tex
}
span
{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
